.banner {
  $color-title: white;
  $color-description: var(--blue-100); 
  $bg-banner: var(--red-800);
  margin-top: calc(var(--transparent-header-height) * -1);
  // background: $bg-banner;
  position: relative;
  overflow: hidden;
  padding-top: calc(var(--transparent-header-height) + 4rem);
  padding-bottom: 2rem;

  // &::before{
  //   content: "";
  //   width: 55%;
  //   height: 150%;
  //   position: absolute;
  //   bottom: 0;
  //   right: 0;
  //   transform-origin: bottom left;
  //   transform: skew(-30deg,0deg);
  //   background: linear-gradient(233deg,#fff 5%,hsla(0,0%,100%,.01) 95%);
  //   mix-blend-mode: soft-light;
  //   pointer-events: none;
  // }

  &.edit {
    .banner-info {
      &:hover {
        .options {
          display: block;
        }
      }
    }

    .banner-content-image {
      &:hover {
        .options {
          display: block;
        }
      }
    }
  }
  .options {
    display: none;
    position: absolute;
    &.top-right {
      top: 0;
      right: 0;
    }
    &.center {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    .icon {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 2rem;
      height: 2rem;
      color: white;
      background-color: rgba(black, 0.5);
      border-radius: 50%;
      cursor: pointer;
    }
  }

  .banner-title {
    color: $color-title;
    font-size: 2rem;
    margin-bottom: 1.5rem;
    font-weight: 800;
    line-height: 1.3;
    letter-spacing: 0.015em;
  }
  .banner-descripcion {
    color: $color-description;
    font-size: 1.1rem;
    margin-bottom: 1.5rem;
    line-height: var(--body-line-height);
  }
}

// pages
body{
  &.historia{
    .banner{
      background-color: var(--red-500);
      .banner-descripcion{
        color: var(--red-100);
      }
    }
  }
  &.gastronomiayturismo{
    .banner{
      background-color: var(--blue-700);
      .banner-descripcion{
        color: var(--blue-100);
      }
    }
  }
}

/* frame */
.banner-list_item {
  &:hover {
    background-color: rgba($primary, 0.1);
  }
}
