.anuncio{
    position: fixed;
    bottom: 2rem;
    left: 2rem;
    z-index: 100;
    max-width: 90%;
    width: 400px;

    .close-anuncio{
        position: absolute;
        top: 0.5rem;
        right: 0.5rem;
        // transform: translate(40%, -40%);
        cursor: pointer;
        display: inline-block;
        width: 2.1rem;
        height: 2.1rem;
        border: 1px solid var(--grey-300);
        border-radius: 50%;
        font-size: 1.2rem;
        // background-color: $danger;
        // color: white;
        &:hover{
            background-color: rgba($danger, $alpha: 0.8);
            border: 1px solid $gray-300;
            color: white;
        }
    }
}

.m_card{
    border: 1px solid var(--grey-300);
    background-color: white;
    .m_card-header{
        border-bottom: 1px solid var(--grey-300);
        padding: 0.7rem 1rem;
    }
    .m_card-body{
        padding: 1rem;
    }
}