.anuncio{
    position: fixed;
    bottom: 2rem;
    left: 2rem;
    z-index: 100;
    max-width: 90%;
    width: 400px;

    .close-anuncio{
        position: absolute;
        top: 0.5rem;
        right: 0.5rem;
        // transform: translate(40%, -40%);
        cursor: pointer;
        display: inline-block;
        width: 2.1rem;
        height: 2.1rem;
        border: 1px solid var(--grey-300);
        border-radius: 50%;
        font-size: 1.2rem;
        // background-color: $danger;
        // color: white;
        &:hover{
            background-color: rgba($danger, $alpha: 0.8);
            border: 1px solid $gray-300;
            color: white;
        }
    }
}

.m_card{
    border: 1px solid var(--grey-300);
    background-color: white;
    .m_card-header{
        border-bottom: 1px solid var(--grey-300);
        padding: 0.7rem 1rem;
    }
    .m_card-body{
        padding: 1rem;
    }
}

.style-scroll::-webkit-scrollbar {
    width: 8px;
    /* Tamaño del scroll en vertical */
    height: 8px;
    /* Tamaño del scroll en horizontal */
    display: none;
}

/* Ponemos un color de fondo y redondeamos las esquinas del thumb */
.style-scroll::-webkit-scrollbar-thumb {
    background: rgb(194, 194, 194);
    border-radius: 4px;
}

/* Cambiamos el fondo y agregamos una sombra cuando esté en hover */
.style-scroll::-webkit-scrollbar-thumb:hover {
    background: #cacaca;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

/* Cambiamos el fondo cuando esté en active */
.style-scroll::-webkit-scrollbar-thumb:active {
    background-color: #999999;
}

/* Ponemos un color de fondo y redondeamos las esquinas del track */
.style-scroll::-webkit-scrollbar-track {
    background: #f7f7f7;
    border-radius: 4px;
}

.carousel-normativa{
    background-color: white;
    border: 1px solid $gray-200;
    border-radius: 5px;
    &:hover{
        background-color: $green-500;
        .title{
            color: $green-100;
        }
        .content, .date{
            color: $green-200;
        }
    }

    .title{
        color: $green-400;
    }
    .content{
        color: $gray-600;
    }
    .date{
        color: $gray-600;
    }
}

.border-left-rounded{
    padding-left: 2rem;
    &::before{
        content: '';
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        border-top-right-radius: 2rem 5rem;
        border-bottom-right-radius: 2rem 5rem;
        width: 0.5rem;
        height: 100%;
        background-color: $primary;
    }
}