.carousel_home_content {
  @include media-breakpoint-up(xl) {
    // margin negativo cuando el header es transparent
    margin-top: calc(var(--transparent-header-height) * -1);
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 30%;
      width: 100%;
      z-index: 1;
      background: linear-gradient(180deg, #000, transparent);
    }
  }
}

// iconos de left y right
.glide__arrow{
  background-color: white;
  color: $primary;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
} 
.glide__arrow--left{
  left: -1rem;
}
.glide__arrow--right{
  right: -1rem;
}