.banner{
margin: 0;
padding: 0;;
    .flexslider{
        width: 100%;
        position: relative;
    }
    .slides{
        width: 100%;
        overflow: hidden;
    }
    .slides.img{
        width: 100%;
    }
}