.Simbolo{
    position: relative;
    display: block;
    padding: 10px;
    font-weight: 200;
    background: --grey-400;
    color: #000;
    text-decoration: none;
}
.Simbolo.open {
    background: #16a085;
    color: #fff;
}
.Simbolo:hover {
    background: #1abc9c;
}

.menunav-link{
    &.active{
        background-color: #008000;
        color:white;
    }
    &:hover{
        background-color: #F8DE5E;
    }
}
.menuturismo-link{
    &.active{
        background-color: #008000;
        color:white;
    }
    &:hover{
        background-color: #F8DE5E;
    }
}