// .inicio-banner {
//   img {
//     height: 100%;
//     filter: brightness(0.7);
//   }
// }

.icon-edit {
  bottom: 0;
  right: 0;
  width: 2rem;
  height: 2rem;
  overflow: hidden;
  background-color: white;
  color: $primary;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contenedor-image-logo{
  max-width: 350px;


  img{

  }
  .icon{
    background-color: white;
    color: $primary;
    bottom: 0;
    right: 0;
    width: 2rem;
    height: 2rem;

    &:hover{
      color: orange;
    }
  }
}