.c_dropdown-menu {
  position: absolute;
  top: calc(100% + 0.5rem);
  left: 0;
  z-index: 1500;
  display: none;

  &.active {
    display: inline-block;
    &:before {
      content: "";
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }
  }

  & > div {
    border: 1px solid var(--grey-300);
    position: relative;
    background-color: white;
  }
}
