.frame {
  .frame-header {
    position: sticky;
    top: calc(var(--topbar-height) + var(--header-height));
    z-index: 1;
    .frame-button {
      border: 0;
      background-color: transparent;
      font-weight: 600;
      color: var(--color-text-light);
      font-size: 14px;
      &:hover {
        background-color: rgba($primary, 0.15);
        color: $primary;
      }
      &.active {
        font-weight: 700;
        background-color: rgba($primary, 0.15);
        color: $primary;
      }
    }
  }
  .frame-body {
    .frame-metadata {
      & > div {
        min-height: calc(100vh - var(--header-height) - var(--topbar-height));
        @include media-breakpoint-up(md) {
          border-right: 1px solid var(--color-border);
          width: 400px;
        }
      }
    }
    .frame-preview {
      width: 100%;
    }
  }
}
