html{
  position: relative;
}

h1, h2, h3, h4, h5, h6 {
  color : var(--color-title);
}

body {
  background : var(--body-bg);
  color      : var(--color-text);
  font-family: var(--body-font);
  font-size  : var(--normal-font-size);
  line-height: var(--body-line-height);
}

a {
  color : var(--main-color);
}

hr {
  border        : none;
  border-bottom : 1px solid var(--color-border) !important;
}
