.input-filter-header {
  height: 50px;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 20px;
}

// @media (min-width: 576px) { ... }

@media (min-width: 992px) {
    // .input-filter-header{
    //     height: 50px;
    // }
}
