.modalmodal {
  .modal-content {
    // border: 1px solid red;
    .modal-header {
      border-bottom: 0;
      bottom: 0;
      margin: 0;

      .modal-title {
        text-align: center;
      }

      button {
        position: absolute;
        top: 8px;
        right: 10px;
      }
    }
  }
  .modal-body {
  }
  .modal-footer {
    border-top: 0;
    padding-top: 0;
    display: block;
    button {
      display: block;
      width: 100%;
      margin-bottom: 0;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
.modal-bienvenida {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 90vw;
  max-height: 90vh;
  z-index: 1500;
  // background-color: white;
  .btn-close-modal,
  .btn-download {
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    margin-bottom: 0.5rem;
    border-radius: 5px;
    font-size: 1.3rem;
  }
  .btn-close-modal {
    background: white;
    color: $gray-600;

    &:hover {
      background: $gray-200;
      color: $gray-800;
    }
  }
  .btn-download {
    background-color: $red-500;
    color: white;
    &:hover {
      background-color: $red-600;
    }
  }
}
