.modalmodal {
  .modal-content {
    // border: 1px solid red;
    .modal-header {
      border-bottom: 0;
      bottom: 0;
      margin: 0;

      .modal-title {
        text-align: center;
      }

      button {
        position: absolute;
        top: 8px;
        right: 10px;
      }
    }
  }
  .modal-body {

  }
  .modal-footer {
    border-top: 0;
    padding-top: 0;
    display: block;
    button {
      display: block;
      width: 100%;
      margin-bottom: 0;
      &:last-child{
        margin-bottom: 0;
      }
    }
  }
}
.modal-bienvenida{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  max-width: 90vw;
  max-height: 90vh;
  z-index: 1500;
  // background-color: white;
  button{
    background: white;
    outline: none;
    padding: 0;
    border: 0;

    &:hover{
      background: rgb(240, 240, 240);
    }
  }
}