.post {
  position: relative;
  background-color: white;

  .post-title {
    font-size: 20px;
    color: $primary;
  }
  .post-tag {
    border: 1px solid $primary;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    background-color: rgba($primary, 0.2);
    color: $primary;
    font-size: 14px;
    padding: 0.3rem 1rem;
    z-index: 1;

    &.tag-red {
      border-color: $red;
      background-color: rgba($red, 0.2);
      color: $red;
    }
  }
}

.dark-theme {
  .post {
    background-color: var(--black-500);
  }
}

/*page /posts */
.link_home-post {
  &:hover {
    background-color: var(--grey-300);
    color: inherit;
  }
  &.active {
    background-color: var(--grey-300);
  }
}

.card_video {
  .icon_play-card_video {
    position: absolute;
    top: 1rem;
    left: 1rem;
    z-index: 5;
    // transform: translate(-50%, -50%);
    display: none;
  }
  &:hover .icon_play-card_video {
    display: block;
  }
}

/* create post */
.container-select_tipo_post {
  min-width: 100%;
  @include media-breakpoint-up(md) {
    min-width: auto;
  }
}
.tipo_post-create {
  @include media-breakpoint-up(md) {
    min-width: 180px;
  }
  background-color: white;
  &:hover {
    background-color: var(--grey-300);
  }
}

/*borrador*/
.home-links {
  width: 100%;
  height: 100%;
  width: 120px;
  margin-bottom: 1rem;

  .home-links-content-images {
    border-radius: 1.5rem;
    border: 5px solid $danger;
    transition: 0.5s all;
    width: 75px;
    height: 75px;
    & > div {
      padding: 0.5rem;
    }
  }

  img {
    position: absolute;
    margin: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 1s;
  }

  img:nth-child(2) {
    display: none;
  }
  &:hover {
    img:first-child {
      display: none;
    }
    img:nth-child(2) {
      display: inline-block;
      transform: translate(-50%, -50%) scale(1.1);
    }
    .home-links-content-images {
      background-color: $danger;
      border-radius: 50%;
    }
  }
}

/*post home*/
.hover-post {
  cursor: pointer;
  img {
    transition: transform 0.3s;
  }
  &:hover {
    img {
      transform: scale(1.1);
    }
  }
}