.post {
  position: relative;
  background-color: white;

  .post-title {
    font-size: 20px;
    color: $primary;
  }
  .post-tag {
    border: 1px solid $primary;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    background-color: rgba($primary, 0.2);
    color: $primary;
    font-size: 14px;
    padding: 0.3rem 1rem;
    z-index: 1;

    &.tag-red {
      border-color: $red;
      background-color: rgba($red, 0.2);
      color: $red;
    }
  }
}

.dark-theme{
  .post{
    background-color: var(--black-500);
  }
}
