
:root{
    --color1: #f39b12;
    --color2: #C13A2A;
    --color3: #3b882c;
}
.box-cardspre{
    height: 400px;
    width: 90%;
    margin: 20px auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.box-cardspre .box{
    background-color: #fff;
    height: 370px;
    width: 25%;
    color: #fff;
}
.box1{
border-top: 8px solid  var(--color1);
border-bottom: 8px solid var(--color1);
}
.box2{
border-top: 8px solid  var(--color2);
border-bottom: 8px solid var(--color2);
}
.box3{
border-top: 8px solid  var(--color3);
border-bottom: 8px solid var(--color3);
}
    .imgPre{
        height: 150px;
        width: 100%;
        object-fit: cover;
    }
.box .button-pre{
padding: 8px;
width: 70%;
font-family: sans-serif;
text-align: center;
margin: -20px auto;
transition: .3s;
display: block;
position: relative;
z-index: 2;
font-weight: bold;
}
.bottom1{
        background-color: var(--color1);
}
.bottom2{
        background-color: var(--color2);
}
.bottom3{
        background-color: var(--color3);
}
.texto-pre{
    font-family: sans-serif;
    text-align: center;
    color: #868686;
    font-size: .8em;
    width: 80%;
    margin: 30px auto;
}
.box:hover .button-pre{
transform: rotate(-10deg);
}