.sidebar-navigation-mobile {
  .overlay {
    position: fixed;
    top: calc(var(--header-height) + var(--topbar-height));
    bottom: 0;
    z-index: 1500;
    width: 0;
    opacity: 0;
    background-color: rgba(40, 45, 49, 0.85);
    transition: opacity 0.2s 0.3s;
  }
  .navnav {
    transition: right 0.2s;
    top: calc(var(--header-height) + var(--topbar-height));
    right: -100%;
    bottom: 0;
    width: 90%;
    z-index: 1500;
  }
  .navnavitem {
    ul {
      height: 0;
      overflow: hidden;
      transition: 2s height ease;
    }
    .link-body {
      padding: 0.5rem 1.5rem 0.5rem 50px;
    }
    &.active {
      background-color: #fcfcfc;
      border-bottom: 1px solid var(--grey-300);
      .navnavlink {
        border-top: 1px solid var(--grey-300);
        border-bottom: 1px solid var(--grey-300);
      }
      ul {
        height: auto;
      }
      .navnav-icon-chevron {
        transform: rotate(180deg);
      }
    }
    .navnav-icon-chevron {
      transition: 0.3s transform ease;
    }
  }
  &.active {
    background-color: rgb(214, 243, 214);
    .navnav {
      right: 0;
    }
    .overlay {
      width: 100%;
      opacity: 1;
      pointer-events: auto;
    }
  }
}

.nav__item {
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  .nav__item-links {
    border-top: 1px solid transparent;
    background-color: $gray-100;
    display: none;
  }
  .icon-chevron {
    transition: 0.3s transform ease;
  }
  .nav__item-link.active{
    color: $primary;
  }
  .separador{
    width: 92%;
    border-top: 1px solid $gray-200;
  }
  &.expanded {
    border-color: $gray-200;
    .nav__item-links {
      border-color: $gray-200;
      display: block;
    }
    .icon-chevron {
      transform: rotate(180deg);
    }
  }
}
