@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");

:root {
  //colors black
  --grey-100: #fbfbfe;
  --grey-200: #fcfcfc;
  --grey-300: #eff3f5;
  --grey-400: #c8cdd0;
  --grey-500: #a0a7ac;
  --grey-600: #697477;
  --grey-700: #2a3b47;
  --grey-800: #22303a;
  --grey-900: #1a252d;

  --blue-100: #e7f4fd;
  --blue-200: #b7defa;
  --blue-300: #88c8f7;
  --blue-400: #58b3f3;
  --blue-500: #1192ee;
  --blue-600: #1083d5;
  --blue-700: #0c66a6;
  --blue-800: #094977;
  --blue-900: #052c48;

  --red-100: #fdeded;
  --red-200: #f9cdcd;
  --red-300: #f5adad;
  --red-400: #f18888;
  --red-500: #eb5656;
  --red-600: #d44e4e;
  --red-700: #a43d3d;
  --red-800: #772c2c;
  --red-900: #471a1a;

  --green-100: #eafbf2;
  --green-200: #c0f2d9;
  --green-300: #96e9bf;
  --green-400: #6ce0a6;
  --green-500: #2dd280;
  --green-600: #28bd73;
  --green-700: #1f9359;
  --green-800: #166a40;
  --green-900: #0d3f26;

  --yellow-100: #fff8eb;
  --yellow-200: #ffeac7;
  --yellow-300: #ffdb9e;
  --yellow-400: #ffce7a;
  --yellow-500: #ffba42;
  --yellow-600: #e5a638;
  --yellow-700: #b4822d;
  --yellow-800: #7e5c20;
  --yellow-900: #4e3813;

  --black-300: var(--grey-500);
  --black-400: var(--grey-600);
  --black-500: var(--grey-700);
  --black-600: var(--grey-800);
  --black-700: var(--grey-900);
}

:root {
  --main-color: $primary;
  --color-title: var(--grey-700);
  --color-text: var(--grey-600);
  --color-text-light: var(--grey-600);
  --color-text-lighter: var(--grey-500);
  --color-border: var(--grey-300);

  --white-bg: #fff;
  --container-bg: var(--grey-300);
  --body-bg: var(--grey-100);
  --body-line-height: 1.6;
  --body-font: "Open Sans", sans-serif;
  --heading-font: "Raleway", sans-serif;

  --bigger-font-size: 1.75rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --font-size-normal: 0.9375rem;
  --font-size-small: 0.8125rem;
  --font-size-smaller: 0.75rem;
  
  @include media-breakpoint-up(lg) {
    --bigger-font-size: 2.25rem;
    --h1-font-size: 2rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --font-size-normal: 0.1rem;
    --font-size-small: 0.875rem;
    --font-size-smaller: 0.8125rem;
  }
}


body.dark-theme {
  --color-title: var(--grey-100);
  --color-text: var(--grey-200);
  --color-text-light: var(--grey-500);
  --color-text-lighter: var(--grey-700);
  --color-border: var(--grey-600);

  --white-bg: var(--black-500);
  --container-bg: var(--black-600);
  --body-bg: var(--black-700);
  --body-line-height: 1.6;
}

:root {
  // Typography
  --h1-size: 2rem;
  --h2-size: 1.5rem;
  --h3-size: 1.25rem;
  --h4-size: 1rem;
  --h5-size: 0.9rem;
  --h6-size: 0.8rem;
}

:root {
  // Transitions
  --transition-collapse: 0.2s;

  // Header
  --topbar-height: 2rem;
  --header-height: 4rem;
  --header-topbar-height: calc(var(--topbar-height) + var(--header-height));
  --header-height-when-collapse-sidebar: 6rem;
  --transparent-header-height: 6rem;

  // Sidevar
  --sidebar-width: 16.25rem;
  --sidebar-collapse-width: 4.25rem;

  @include media-breakpoint-up(xl) {
    --header-height: 4rem;
  }
}
