.content-markers {
  max-width: 400px;
  min-width: 300px;
}
.content-posts {
  max-width: 550px;
  min-width: 300px;
}

.grid-links {
  @include media-breakpoint-up(md) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
}

/* circle badge */
.circleBadge {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3.5em;
  height: 3.5em;
  border: 1px solid var(--grey-300);
  border-radius: 50%;
  background-color: white;

  &.circleBadge-sm {
    width: 2.5em;
    height: 2.5em;
  }

  .circleBadge-icon {
    max-width: 60%;
    height: auto;
    max-height: 55%;
  }
}
