.bg-container{
    background-color: var(--container-bg);
}

.bg-grey-100{
    background-color: var(--grey-100);
}
.bg-grey-200{
    background-color: var(--grey-200);
}
.bg-grey-300{
    background-color: var(--grey-300);
}
.bg-grey-400{
    background-color: var(--grey-400);
}
.bg-grey-500{
    background-color: var(--grey-500);
}
.bg-grey-600{
    background-color: var(--grey-600);
}
.bg-grey-700{
    background-color: var(--grey-700);
}
.bg-grey-800{
    background-color: var(--grey-800);
}
.bg-grey-900{
    background-color: var(--grey-900);
}