.bg-grey-100{
    background-color: var(--grey-100);
}
.bg-grey-200{
    background-color: var(--grey-200);
}
.bg-grey-300{
    background-color: var(--grey-300);
}
.bg-grey-400{
    background-color: var(--grey-400);
}
.bg-grey-500{
    background-color: var(--grey-500);
}
.bg-grey-600{
    background-color: var(--grey-600);
}
.bg-grey-700{
    background-color: var(--grey-700);
}
.bg-grey-800{
    background-color: var(--grey-800);
}
.bg-grey-900{
    background-color: var(--grey-900);
}

.bg-blue-100{
    background-color: var(--blue-100);
}
.bg-blue-200{
    background-color: var(--blue-200);
}
.bg-blue-300{
    background-color: var(--blue-300);
}
.bg-blue-400{
    background-color: var(--blue-400);
}
.bg-blue-500{
    background-color: var(--blue-500);
}
.bg-blue-600{
    background-color: var(--blue-600);
}
.bg-blue-700{
    background-color: var(--blue-700);
}
.bg-blue-800{
    background-color: var(--blue-800);
}
.bg-blue-900{
    background-color: var(--blue-900);
}

.bg-red-100{
    background-color: var(--red-100);
}
.bg-red-200{
    background-color: var(--red-200);
}
.bg-red-300{
    background-color: var(--red-300);
}
.bg-red-400{
    background-color: var(--red-400);
}
.bg-red-500{
    background-color: var(--red-500);
}
.bg-red-600{
    background-color: var(--red-600);
}
.bg-red-700{
    background-color: var(--red-700);
}
.bg-red-800{
    background-color: var(--red-800);
}
.bg-red-900{
    background-color: var(--red-900);
}

.bg-yellow-100{
    background-color: var(--yellow-100);
}
.bg-yellow-200{
    background-color: var(--yellow-200);
}
.bg-yellow-300{
    background-color: var(--yellow-300);
}
.bg-yellow-400{
    background-color: var(--yellow-400);
}
.bg-yellow-500{
    background-color: var(--yellow-500);
}
.bg-yellow-600{
    background-color: var(--yellow-600);
}
.bg-yellow-700{
    background-color: var(--yellow-700);
}
.bg-yellow-800{
    background-color: var(--yellow-800);
}
.bg-yellow-900{
    background-color: var(--yellow-900);
}