.border{
    border-color: var(--color-border) !important;
}
.border-left{
    border-color: var(--color-border) !important;
}
.border-right{
    border-color: var(--color-border) !important;
}
.border-top{
    border-color: var(--color-border) !important;
}
.border-bottom{
    border-color: var(--color-border) !important;
}

hr{
    border-color: var(--color-border) !important;
}