.color-text-dark{
    color: black;
}
.color-text {
  color: var(--color-text);
}
.color-text-light {
  color: var(--color-text-light);
}
.color-text-lighter {
  color: var(--color-text-lighter);
}

.color-white{
    color: var(--color-white);
}
.color-facebook{
    color: var(--color-facebook);
}
.color-twitter{
    color: var(--color-twitter);
}
.color-linkendi{
    color: var(--color-linkendi);
}
.color-github{
    color: var(--color-github);
}
.color-transparent{
    color: var(--color-transparent);
}
.main-color{
    color: var(--main-color);
}

.font-weight-300{
    font-weight: 300 !important;
}